/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* @font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
} */

body {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Noto Sans KR", sans-serif !important;
  color: #614d43;
  position: relative;
  height: 1080px;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: none;
}

a:hover {
  color: none !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

.navbar {
  padding: 0px 0px 0px 0px !important;
}

button {
  border: none;
  background-color: #fff;
}

input {
  border: none;
}

input::selection {
  border: none;
}

.btn {
  background-color: #d4b2a7;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/**********************************************
                     start 
***********************************************/

.backimg {
  background-image: url("/src/assets/back.png");
  background-size: cover;
  /* opacity: 0.7; */
  height: 551px;
}

.mainText {
  margin-top: 125px !important;
}

.display-5 {
  font-size: 25px !important;
  font-weight: 500 !important;
  color: #614d43;
  text-shadow: #fff;
  /* height: 250px; */
}

.mainBtn {
  width: 131px;
  padding: 0px 0px 0px 0px;
  background-color: #ede9e3 !important;
  color: #a38f85 !important;
  border-color: #e7d7c9;
  margin-top: 56px;
}

.mainInput {
  background-color: #d4b2a7 !important;
  border: #707070 !important;
  margin-top: 36px;
}

.mainInput:focus {
  outline: none;
}

.recommTitle {
  font-size: 25px;
  font-weight: bold;
  color: #614d43;
}

.recommImg {
  width: 210px;
  height: 160px;
}

.recommImg img {
  /* width: 210px; */

  border-radius: 20%;
}

.recommBox {
  display: flex;
}

.mainList {
  font-size: 14px;
}

.mainList li {
  margin-top: 5px;
  color: #a38f85;
}

.mainList strong {
  color: #614d43;
  font-size: larger;
}

.leftSec {
  border-right: solid 1px rgb(97, 77, 67, 0.3);
  padding-left: 50px !important;
  padding-right: 30px !important;
}

.liner {
  border-bottom: solid 1px rgb(97, 77, 67, 0.3);
}

.infoList ul {
  padding: 0px 0px 0px 0px;
  margin-top: 30px;
}

.infoList ul li {
  margin-top: 20px;
}

.info {
  color: #a38f85;
}
.con {
  top: 0px;
  left: 0px;
  width: 970px;
  height: 100%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  /*margin-left: 90px !important;
  margin-right: 90px !important;*/
  margin: auto 90px;
  /*position: absolute;*/
}

.header {
  height: 76px;
  width: 100%;
  background: #ffffff;
  border-bottom: 0.5px solid #a38f85;
  opacity: 1px;
  /* border: 1px solid; */
  /* border-color: black; */
}

.textSet {
  text-align: center;
  line-height: 60px;
}

.logo {
  position: absolute;
  top: 19px;
  left: 76px;
  width: 180px;
  height: 67px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  background: var(--unnamed-color-ede9e3) 0% 0% no-repeat padding-box;
  /* background: #EDE9E3 0% 0% no-repeat padding-box; */
  opacity: 1;
  text-align: center;
  line-height: 60px;
}
